
@{
    ViewData["Title"] = "List";
}

<h1>List of Books</h1>
@foreach (Book book in ViewBag.Book)
{
    <a href="/Book/Details?id=@(book.ID)"><p>@(book.Title)</p></a>
}

<!-- // Code borowed: https://github.com/TECHCareers-by-Manpower/4.1-MVC/tree/master/MVC_4Point1 -->